  <section class="mainbody grid_4 prefix_4 suffix_4">
  	
  <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
     	
    <header>
      <h1>Login</h1>
    </header>
    <section>
      <%= form_tag :controller => :login, :action => :create do %>
        <table>
          <tr>
            <td><label>Name</label></td>
            <td><%= text_field_tag 'name', '', :size => 20, :tabindex => 1 %></td>
          </tr>	
          <tr>
            <td><label>Password</label></td>
            <td><%= password_field_tag 'password', '', :size => 20, :tabindex => 2 %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= submit_tag 'Login', :size => 20, :tabindex => 3 %></td>
          </tr>
        </table>
      <% end%>
    </section>
  </section>