  <nav class="navbar grid_12">
    <h1 class="visuallyhidden">Navigation</h1>
    <ul class="clearfix">
      <li><%= link_to "Overview", :controller => :main, :action => :index %></li>
      <li><%= link_to "Switch", :controller => :switch, :action => :show %></li>
      <li><%= link_to "Server", :controller => :server, :action => :show %></li>
      <li><%= link_to "Storage", :controller => :storage, :action => :show %></li>
      <li><%= link_to "User Settings", :controller => :user, :action => :settings %>
      <li><%= link_to "Logout", :controller => :login, :action => :destroy %></li>
    </ul>
  </nav>
