  <section class="mainbody grid_7 prefix_3 suffix_2">
  	
  <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
     	
    <header>
      <h1>Server overview</h1>
    </header>
    <section>
      <table>
        <tr class="head">
          <td class="grid_2">Name</td>
          <td class="grid_2">WWN</td>
          <td class="grid_1">OS</td>
          <td class="grid_1">Remove</td>
        </tr>
      <% @servers.each do |server| %>
        <tr>
          <td class="grid_2"><%= server.name %></td>
          <td class="grid_2"><%= server.wwn %></td>
          <td class="grid_1"><%= server.os %></td>
          <td class="grid_1"><%= link_to "Remove", {:controller => :server, :action => :remove, :id => server.id}, :confirm => 'Are you sure?'%></td>
        </tr>
      <% end %>
      </table>
    </section>
  </section>